html, body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex: 1;
  flex-direction: column;

  .navigation-bar {
    align-items: center;
    box-shadow: 1em 0 0.25em grey;
    display: flex;
    height: 4em;
    padding: 0 10em;
    
    .restaurant-info {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .user-profile {
      background-color: grey;
      border-radius: 50%;
      height: 2.5em;
      width: 2.5em;
    }
  }
}